@import 'bootstrap/scss/bootstrap';

// Criação do botão personalizado
.btn-pink {
    background-color: #f70293;
    color: #fff;
    font-weight: bold;
    border: 2px solid #f70293;

    &:hover,
    &:focus {
        background-color: #fff;
        color: #f70293;
        border: 2px solid #f70293;
    }
}
.btn-green {
    background-color: #00ffae;
    color: #000000;
    font-weight: bold;
    border: 2px solid #00ffae;

    &:hover,
    &:focus {
        background-color: #fff;
        color: #000000;
        border: 2px solid #00ffae;
    }
}


